<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'dashboard' %}">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
        </a>
    </li><!-- End Dashboard Nav -->
    <li class="nav-item"></li>
        <a class="nav-link collapsed" data-bs-target="#org-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-buildings"></i><span>Organization</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="org-nav" 
        {% if 'organization' in request.path %}
          class="nav-content collapse show"
        {% else %}
          class="nav-content collapse "
        {% endif %}
            data-bs-parent="#sidebar-nav">
          <li>
            <a {% if request.resolver_match.url_name == 'organization-list' %}class="active"{% endif %} href="{% url 'organization-list' %}">
              <i class="bi bi-circle"></i><span>Organizations</span>
            </a>
          </li>
          <li>
            <a 
              {% if request.resolver_match.url_name == 'organization-add' %}class="active"{% endif %}
               href="{% url 'organization-add' %}">
              <i class="bi bi-circle"></i><span>Add organization</span>
            </a>
          </li>
        </ul>
    </li>
    <li class="nav-item"></li>
      <a class="nav-link collapsed" data-bs-target="#msa-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-file-earmark-ruled"></i><span>Master Agreement</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="msa-nav" 
      {% if 'msa' in request.path %}
        class="nav-content collapse show"
      {% else %}
        class="nav-content collapse "
      {% endif %}
          data-bs-parent="#sidebar-nav">
        <li>
          <a {% if request.resolver_match.url_name == 'msa-list' %}class="active"{% endif %} href="{% url 'msa-list' %}">
            <i class="bi bi-circle"></i><span>MSA</span>
          </a>
        </li>
        <li>
          <a 
            {% if request.resolver_match.url_name == 'msa-add' %}class="active"{% endif %}
              href="{% url 'msa-add' %}">
            <i class="bi bi-circle"></i><span>Add MSA</span>
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item"></li>
      <a class="nav-link collapsed" data-bs-target="#sow-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-backpack4"></i><span>Work Satatement</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="sow-nav"
      {% if 'sow' in request.path %}
        class="nav-content collapse show"
      {% else %}
        class="nav-content collapse "
      {% endif %}
          data-bs-parent="#sidebar-nav">
        <li>
          <a {% if request.resolver_match.url_name == 'sow-list' %}class="active"{% endif %} href="{% url 'sow-list' %}">
            <i class="bi bi-circle"></i><span>SOW</span>
          </a>
        </li>
        <li>
          <a 
            {% if request.resolver_match.url_name == 'sow-add' %}class="active"{% endif %}
              href="{% url 'sow-add' %}">
            <i class="bi bi-circle"></i><span>Add SOW</span>
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item"></li>
      <a class="nav-link collapsed" data-bs-target="#myactionables-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-list-task"></i><span>Actionable</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="myactionables-nav"
      {% if 'myactionables' in request.path %}
        class="nav-content collapse show"
      {% else %}
        class="nav-content collapse "
      {% endif %}
          data-bs-parent="#sidebar-nav">
        <li>
          <a {% if request.resolver_match.url_name == 'myactionables' %}class="active"{% endif %} href="{% url 'myactionables' %}">
            <i class="bi bi-circle"></i><span>Pending Actionables</span>
          </a>
        </li>
      </ul>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#">
        <i class="bi bi-dash-circle"></i>
        <span>Error 404</span>
        </a>
    </li><!-- End Error 404 Page Nav -->

    <li class="nav-item">
        <a class="nav-link " href="#">
        <i class="bi bi-file-earmark"></i>
        <span>Blank</span>
        </a>
    </li><!-- End Blank Page Nav -->

    </ul>

</aside>