{% extends 'base.html' %}

{% block page_title %}KnitContract - Edit MSA{% endblock page_title %}
    

{% block content %}
    <div class="pagetitle">
        <h1>Edit MSA</h1>
        <div class="card">
            <div class="card-body">
              <h5 class="card-title"></h5>
              
              {% if Is_edit_restricted %}
                <div class="alert alert-warning" role="alert">
                    <h4 class="alert-heading">Fully Signed!</h4>
                    <p>Master Service Agreement is "Fully Signed", Any modifications is restricted now!</p>
                    <hr>
                    <p>Although you can <a href="#" class="alert-link">Create Version</a> new version.</p>
                </div>
              {% endif %}

              <div style="display: none;" id="form-submit-result" class="alert alert-dismissible" role="alert">
                <span id="form-errors"></span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
                <form id="editMsaFrm" action="" method="PUT" enctype="multipart/form-data"  >
                {% csrf_token %}
                <div class="col-6">
                    <label for="{{ form.client.name }}" class="form-label">{{ form.client.label }}</label>
                    {{ form.client }}
                    <div 
                    {% if form.client.errors  %}
                        class="invalid-feedback show"
                    {% else %}
                        class="invalid-feedback"
                    >
                    {% endif %}
                        >
                        {{ form.client.errors }}
                    </div>
                </div>
                    <div class="col-6 mt-3">
                        <label for="{{ form.signing_authority.name }}" class="form-label">{{ form.signing_authority.label }}</label>
                        {{ form.signing_authority }}
                        <div 
                        {% if form.signing_authority.errors  %}
                            class="invalid-feedback show"
                        {% else %}
                            class="invalid-feedback"
                        >
                        {% endif %}
                            >
                            {{ form.signing_authority.errors }}
                        </div>
                    </div>
                    <div class="col-6 mt-3">
                        <label for="{{ form.signing_date.name }}" class="form-label">{{ form.signing_date.label }}</label>
                        {{ form.signing_date }}
                        <div 
                        {% if form.signing_date.errors  %}
                            class="invalid-feedback show"
                        {% else %}
                            class="invalid-feedback"
                        >
                        {% endif %}
                            >
                            {{ form.signing_date.errors }}
                        </div>
                    </div>
                    <div class="col-6 mt-3">
                        <label for="{{ form.ib_signing_authority.name }}" class="form-label">{{ form.ib_signing_authority.label }}</label>
                        {{ form.ib_signing_authority }}
                        <div 
                        {% if form.ib_signing_authority.errors  %}
                            class="invalid-feedback show"
                        {% else %}
                            class="invalid-feedback"
                        >
                        {% endif %}
                            >
                            {{ form.ib_signing_authority.errors }}
                        </div>
                    </div>
                    <div class="col-6 mt-3">
                        <label for="{{ form.status.name }}" class="form-label">{{ form.status.label }}</label>
                        {{ form.status }}
                        <div 
                        {% if form.status.errors  %}
                            class="invalid-feedback show"
                        {% else %}
                            class="invalid-feedback"
                        >
                        {% endif %}
                            >
                            {{ form.status.errors }}
                        </div>
                    </div>
                    <div class="col-6 mt-3">
                        <label for="{{ form.msa_doc_path.name }}" class="form-label">{{ form.msa_doc_path.label }}</label>
                        {% if form.msa_doc_path.help_text %}
                            {{ form.msa_doc_path.help_text }}
                        {% endif %}
                        <input class="form-control" type="file" name="{{ form.msa_doc_path.name }}" >
                        <div 
                        {% if form.msa_doc_path.errors  %}
                            class="invalid-feedback show"
                        {% else %}
                            class="invalid-feedback"
                        >
                        {% endif %}
                            >
                            {{ form.msa_doc_path.errors }}
                        </div>
                    </div>
                    <div class="col-12 mt-4">
                    <button class="btn btn-primary" type="submit">Save</button>
                    </div>
                </form>
            </div>
          </div>
    </div>
{% endblock content %}
{% block page_js %}
  <script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    
    const csrftoken = getCookie('csrftoken');
    $("#editMsaFrm").submit(function(e) {
      e.preventDefault();
      var formData = new FormData(this);
      
      var successURL = "{% url 'msa-list' %}";
      var editMsaURL = "{% url 'api-msa-edit' request.resolver_match.kwargs.pk %}";
      $.ajax({
          type: "PUT",
          url: editMsaURL,
          data: formData,
          headers: {
            'X-CSRFToken': csrftoken  // Add CSRF token to the headers
          },
          contentType: false,
          processData: false,
          success: function(data)
          {
            window.location.replace(successURL)
          },
          error: function(errors){
            $("#form-submit-result").show().delay(5000).fadeOut();
            $("#form-submit-result").addClass('alert-danger')
            $("#form-errors").html(errors.responseJSON.errors.error[0])
          }
      });
      
    });
  </script>      
{% endblock page_js %}