<div class="row mb-3">
    <div class="col">
      <label for="ft-msa-status" class="form-label">Status</label>
      <select id="ft-msa-status" name="ft-msa-status" class="form-select form-select-sm">
        <option value="0">Select</option>
      </select>
    </div>
    <div class="col">
      <label for="ft-msa-client" class="form-label">Client</label>
      <select id="ft-msa-client" name="ft-msa-client" class="form-select form-select-sm">
        <option value="0">Select</option>
      </select>
    </div>
    <div class="col mt-4">
      <button id="ft-btn" class="btn btn-outline-primary btn-sm" type="button">Filter</button>
      <button id = "reset-ft-btn" class="btn btn-outline-secondary btn-sm" type="button">Reset</button>
    </div>
</div>