{% extends 'base.html' %}

{% block page_title %}KnitContract - Add Company{% endblock page_title %}
    

{% block content %}
    <div class="pagetitle">
        <h1>Add Company</h1>
        <div class="card">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <p></p>
              <form action="{% url 'company-add' %}" method="POST" >
                {% csrf_token %}
                <div class="col-6">
                    <label for="{{ form.company_name.name }}" class="form-label">{{ form.company_name.label }}</label>
                    {{ form.company_name }}
                    <div 
                    {% if form.company_name.errors  %}
                      class="invalid-feedback show"
                    {% else %}
                      class="invalid-feedback"
                    >
                    {% endif %}
                      >
                      {{ form.company_name.errors }}
                    </div>
                  </div>
                  <div class="col-6 mt-3">
                    <label for="{{ form.company_address.name }}" class="form-label">{{ form.company_address.label }}</label>
                    {{ form.company_address }}
                    <div 
                    {% if form.company_address.errors  %}
                      class="invalid-feedback show"
                    {% else %}
                      class="invalid-feedback"
                    >
                    {% endif %}
                      >
                      {{ form.company_address.errors }}
                    </div>
                  </div>
                  <div class="col-12 mt-4">
                    <button class="btn btn-primary" type="submit">Save</button>
                  </div>
                </form>
            </div>
          </div>
    </div>
{% endblock content %}