{% extends 'base.html' %}

{% block page_title %}KnitContract - List SOW{% endblock page_title %}
    

{% block content %}
    <div class="pagetitle">
        <h1>All SOW</h1>
        <div class="card">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <p id="errors"></p>
              <form>
                <div style="font-size: 12px;" class="row mb-3">
                  <div class="col-md-5">
                    {% include 'msa/search.html' %}
                  </div>
                  <div style="border-left: 1px solid #e2e3e1;" class="col-md-1">
                      &nbsp;
                  </div>
                  <div class="col-md-6">
                    {% include 'msa/filters.html' %}
                  </div>
                </div>
              </form>
              <hr/>
              <table style="font-size:12px;" id="msa-data" class="table table-bordered table-sm text-xsmall">
                
              </table>
              <div id="pagination"></div>
            </div>
          </div>
    </div>
{% endblock content %}
{% block page_js %}
<script>
  function getPageData(page_num=1, filters = '', search_query=''){
    if (page_num > 1) {
      var listMsaURL = "{% url 'api-sow-list' %}"+"?page="+page_num;
      if (filters != '') {
        listMsaURL = listMsaURL+"&"+filters
      }
      if (search_query != "") {
        listMsaURL = listMsaURL+"?"+search_query
      }
    }else{
      var listMsaURL = "{% url 'api-sow-list' %}";
      if (filters != '') {
        listMsaURL = listMsaURL+"?"+filters
      }
      if (search_query != "") {
        listMsaURL = listMsaURL+"?"+search_query
      }
    }
    
    $.ajax({
        type: "GET",
        url: listMsaURL,
        success: function(data)
        {
          console.log(data)
          if (data.count > 0) {
            $('#msa-data').show()
            $('#errors').hide()
            var table_html = '';
            table_html += '<thead><tr>\
              <th scope="col">#</th>\
              <th scope="col">Name</th>\
              <th scope="col">Client</th>\
              <th scope="col">MSA</th>\
              <th scope="col">Sow Type</th>\
              <th scope="col">Status</th>\
              <th scope="col">Duration</th>\
              <th scope="col">Created By</th>\
              <th scope="col">Cost</th>\
              <th scope="col">Invoice Frequency</th>\
              <th scope="col">Dates</th>\
              <th scope="col">Action</th>\
            </tr></thead>'
            table_html += '<tbody>'
            for (let itm = 0; itm < data.results.length; itm++) {
              var edit_url_raw = "{% url 'sow-edit' 1 %}";
              var edit_url = edit_url_raw.replace(/[^\/]*$/, data.results[itm].id)
              
              table_html += '<tr>';
              table_html += '<td>'+ data.results[itm].id +'</td>';
              table_html += '<td>'+ data.results[itm].project_name +'</td>';
              table_html += '<td>'+ data.results[itm].client +'</td>';
              table_html += '<td>'+ data.results[itm].msa +'</td>';
              table_html += '<td>'+ data.results[itm].sow_type +'</td>';
              table_html += '<td>'+ data.results[itm].status +'</td>';
              table_html += '<td>'+ data.results[itm].duration +'</td>';
              table_html += '<td>'+ data.results[itm].created_by +'</td>';
              table_html += '<td>'+ data.results[itm].project_cost +'' + data.results[itm].currency+'</td>';
              table_html += '<td>'+ data.results[itm].invoice_frequency +'</td>';
              table_html += '<td>';
              table_html += '<div>Start Date:'+ data.results[itm].start_date+'</div>';
              table_html += '<div>End Date:'+ data.results[itm].end_date +'</div>';
              table_html += '<div>Renewal Date:'+ data.results[itm].next_due_renewal +'</div>';
              table_html += '</td>';
              
              table_html += '<td>\
                <a target="_blank" href="'+ data.results[itm].sow_doc_path +'" >\
                  <i class="bi bi-file-earmark-pdf"></i></a>\
                  <a href="'+ edit_url +'" ><i class="bi bi-pencil-square"></i></a>&nbsp;';
                  var is_admin = "{{ request.user.groups.all.0 }}";
                  if(is_admin == 'Admin'){
                    var assign_row = "{% url 'assign-for-approval' 'sow' 1 %}";
                    var assignURL = assign_row.replace(/[^\/]*$/, data.results[itm].id)
                    table_html += '<a title="assign additional approvers" href="'+ assignURL +'" ><i class="bi bi-exposure"></i></a>';
                  }
              table_html += '</td>';
              table_html += '</tr>';
            }
            table_html += '</tbody>';
            $('#msa-data').html(table_html)
            var previous_page = 1
            var next_page = 1
            if (data.previous != null) {
              const pArr = data.previous.split("?page=")
              previous_page = pArr[1]
            }
            if (data.next != null) {
              const nArr = data.next.split("?page=")
              next_page = nArr[1]
            }
            
            var previous_page = 
            pagination_html = '<nav aria-label="Page navigation example">\
              <ul class="pagination">\
                <li class="page-item">\
                  <a class="page-link" href="javascript:void(0);" xphref="'+ previous_page +'" aria-label="Previous">\
                    <span aria-hidden="true">&laquo;</span>\
                  </a>\
                </li>';
                total_pages = Math.ceil(data.count/2);
                for (let itp = 1; itp <= total_pages; itp++) {
                  pagination_html += '<li class="page-item"><a xphref="'+ itp +'" class="page-link" href="javascript:void(0);">'+ itp +'</a></li>';
                }
                pagination_html += '<li class="page-item">\
                  <a class="page-link" href="javascript:void(0);" xphref="'+ next_page +'" aria-label="Next">\
                    <span aria-hidden="true">&raquo;</span>\
                  </a>\
                </li>\
              </ul>\
            </nav>';
            $('#pagination').html(pagination_html)
          } else {
            $('#msa-data').hide()
            $('#errors').show().text("No Record is presrnt")
          }
        },
        error: function(error){
          console.log(error)
        }
    });
  };
  
  $(document).on("click",'.page-link', function(e) {
    var xphref = $(this).attr('xphref');
    getPageData(xphref);
  });

  $( document ).ready(function() {
    getPageData();
    var url_get_client_users = "{% url 'api-get-all-client-users' %}";
    $.ajax({
      type: "GET",
      url: url_get_client_users,
      success: function(data){
        if(data.message.length > 0){
          for (let step = 0; step < data.message.length; step++) {
            optionValue = data.message[step].id
            optionText = data.message[step].get_full_name
            let optionHTML = `
            <option value="${optionValue}"> 
                ${optionText} 
            </option>`;
            $('#ft-msa-client').append(optionHTML);
          }          
        }
      },
      error: function(error){
        console.log(error)
      }
    });

    // get list of all the status
    var url_get_status = "{% url 'api-get-all-contract-status' %}";
    $.ajax({
      type: "GET",
      url: url_get_status,
      success: function(data){
        if(data.message.length > 0){
          for (let step = 0; step < data.message.length; step++) {
            optionValue = data.message[step].id
            optionText = data.message[step].status
            let optionHTML = `
            <option value="${optionValue}"> 
                ${optionText} 
            </option>`;
            $('#ft-msa-status').append(optionHTML);
          }          
        }
      },
      error: function(error){
        console.log(error)
      }
    });
  });
  function reset_filter_fields() {
    $("#ft-msa-status").prop('selectedIndex', 0);
    $("#ft-msa-client").prop('selectedIndex', 0);
  }

  function reset_search_fields() {
    $("#sr-msa-text").prop('value', '');
  }

  //Filter code
  $(document).on("click",'#ft-btn', function(e) {
    selectted_status = $('#ft-msa-status').val()
    selectted_client = $('#ft-msa-client').val()
    filters = ''
    if (selectted_status > 0 || selectted_client > 0) {
      if (selectted_status > 0){
        filters = filters+'fs='+selectted_status
      }
      if (selectted_client > 0){
        filters = filters+'&fc='+selectted_client
      }
      reset_search_fields()
      getPageData(1,filters);
    }
  });

  // search code
  $(document).on("click",'#sq-btn', function(e) {
    query_str = $('#sr-msa-text').val()
    search_query = ''
    if (query_str != '') {
      reset_filter_fields()
      search_query = '&sq='+query_str
      getPageData(1,'', search_query);
    }
  });

  $(document).on("click",'#reset-ft-btn', function(e) {
    reset_filter_fields()
    getPageData(1);
  });

  $(document).on("click",'#reset-sq-btn', function(e) {
    reset_search_fields()
    getPageData(1);
  });
  
</script>
{% endblock page_js %}